:root {
  --blue-500: #387E96;
  --blue-700: #065E7C;
  --gray-100: #F4FCFF;
  --gray-800: #202024;
  --gray-900: #121214;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input {
  font-family: 'Mulish', sans-serif;
}

body {
  color: var(--gray-900);
  background-color: var(--gray-100);
}

.catblog {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
  "header header header"
  "main main aside"
  "footer footer footer";
  height: 100vh;
}

header { grid-area: header;}
main { grid-area: main;}
aside { grid-area: aside;}
footer { grid-area: footer;}

.container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

header {
  background-color: var(--blue-700);
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.625rem;
}

header .container form {
  flex: 1;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  
  cursor: pointer;
}

.input-wrapper label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.input-wrapper input {
  width: 100%;
  padding: 0.75rem 0.875rem;

  border: none;
  border-radius: 4px;

  font-size: 1rem;
  font-weight: 700;
  outline: none;

  background-color: var(--blue-500);
  color: var(--white);
}

.input-wrapper input::placeholder {
  color: var(--white);
}

.input-wrapper input:focus {
  outline: 2px solid var(--white);
}

.avatar {
  width: 2.625rem;
  height: 2.625rem;

  cursor: pointer;

  border-radius: 50%;
}

/* .content-container {
  display: flex;
  overflow-y: scroll;
  margin: 0 auto;
  width: 100%;

  background-color: gray;
} */

main {
  /* padding: 1rem 2rem 1rem calc((100vw - 80rem) / 2); */
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  padding-left: calc((100vw - 80rem) / 2);
  overflow-y: scroll;

  margin-right: -16px;
  padding-right: 16px;
  overflow-y: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  main::-webkit-scrollbar {
    display: none;
  }
}

aside {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  padding-right: calc((100vw - 76rem) / 2);
  margin-left: -16px;


  background-color: var(--gray-100);
}
.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 50.25rem;
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;
  /* background-color: red; */
}

.aside {
  padding: 1rem 2rem 1rem 1rem;
  /* background-color: green; */
}

.main img {
  max-width: 100%;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header h2{
  font-size: 1.5rem;
  font-weight: 900;

  color: var(--gray-800);
}

.interaction {
  display: flex;
  gap: 0.75rem;
}

.interaction img {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;

  border-radius: 50%;

  cursor: pointer;
  
  transition: 0.3s ease-in-out;

  background-color: var(--blue-700);
}

.interaction img:hover {
  scale: 1.1;
  background-color: var(--blue-500);
}

.main p {
  font-size: 1rem;
  line-height: 1.6;
}

footer {
  text-align: center;

  background-color: var(--blue-700);
}

footer p {
  font-size: 1rem;
  font-weight: 700;

  color: var(--white);
}